@model IEnumerable<QuestionsTable>
@{
    //ViewData["Title"] = "Admin Console";
}
<h2>Admin Console</h2>
<body>
    <button><a asp-action="Add">Add a question to the database</a></button>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <button><a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a></button>
                    <button><a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>