@{
    ViewData["Title"] = "Admin Console";
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
    }

    /* Add rounded corners */
    img {
        border-radius: 5px;
    }
    
    /* Removes the background and lines for the buttons */
    .noborder {
        border: none;
        background: none;
    }
</style>


<body>
    <h1><strong>@ViewData["Title"]</strong></h1>
    <div class="adminConsole">
        <button class="btn btn-default1" type="button" onclick="location.href='@Url.Action("Index", "Questions")'">Edit Questions</button>
        &nbsp;
        <button class="btn btn-default1" type="button" onclick="location.href='@Url.Action("Index", "Reports")'">Generate Reports</button>
    </div>
    <br>
    <br>






    <div class="row">
        <div class="column">
            <button onclick="location.href='@Url.Action("Index", "Questions")'">
                <div class="card">
                    <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                    <h4><b>Edit Questions</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </button>
        </div>

        <div class="column">
            <div class="card" onclick="location.href='@Url.Action("Index", "Questions")'">
                <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                <h4><b>Edit Choices</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                <h4><b>Edit Question/Choice Pairing</b></h4>
                <p><button onclick="location.href='@Url.Action("Index", "Questions")'">Architect & Engineer</button></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <button class="noborder" onclick="location.href='@Url.Action("Index", "Questions")'">
                <div class="card">
                    <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                    <h4><b>Edit Survey Flow</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </button>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                <h4><b>View Reports</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                <h4><b>Manage Users</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/images/yogaHealing.jpg" alt="Avatar" style="width:100%">
                <h4><b>Create Users</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
</body>