@{
    ViewData["Title"] = "Admin Console - Navigate to Other Features";
}

<head>
    <link rel="stylesheet" href="~/css/admin-console.css" />
</head>

<body>
    <h1 style="text-align: center;"><strong>@ViewData["Title"]</strong></h1>
    <div class="gridContainer">
        <div class="card">
            <button class="child" onclick="location.href='@Url.Action("Index", "Questions")'">
                <div>
                    <h4><b>Edit Questions/View Survey Flow</b></h4>
                    <p>
                        Use this to edit existing questions and their choices, add new questions or choices,
                        archive unused questions, or view the current survey flow.
                    </p>
                </div>
            </button>
        </div>

        <div class="card">
            <button class="child" onclick="location.href='@Url.Action("Archived", "Questions")'">
                <div>
                    <h4><b>View Archived Questions</b></h4>
                    <p>
                        View archived questions from the engagement survey if you're curious about the past.
                    </p>
                </div>
            </button>
        </div>

        <div class="card">
            <button class="child" onclick="location.href='@Url.Action("Index", "Reports")'">
                <div>
                    <h4><b>View Survey Reports</b></h4>
                    <p>
                        Take a look into how the users are currently answering the questions within the
                        engagement survey. Download to Excel or print the results.
                    </p>
                </div>
            </button>
        </div>

        <div class="card">
            <button class="child" onclick="location.href='@Url.Action("Feedback", "Reports")'">
                <div>
                    <h4><b>View Feedback Reports</b></h4>
                    <p>
                        Take a look at the feedback users are providing regarding what destination page they land on.
                        This will be useful to update the information currently present on each landing page.
                    </p>
                </div>
            </button>
        </div>

        <div class="card">
            <button class="child" onclick="location.href='@Url.Action("Index", "VisitorUrl")'">
                <div>
                    <h4><b>Edit Survey URLs</b></h4>
                    <p>
                        Manage the landing page URLs which a visitor will be redirected towards after submitting
                        the engagement survey.
                    </p>
                </div>
            </button>
        </div>
    </div>
</body>