@{
    ViewData["Title"] = "Home Page";
}


<div id="filter" class="carousel slide" data-ride="carousel" data-interval="6000">

    <br><br>
    What information would you like to include in your report?:
    <br><br>
</div>

<div class="item">
    Filter by:

    <br><br>
</div>

<div class="item">

    @Html.CheckBox("FilterBy", "Income")   Income
    <br>
    @Html.CheckBox("FilterBy", "Race")  Race
    <br>
    @Html.CheckBox("FilterBy", "Sex")   Sex
    <br>
    @Html.CheckBox("FilterBy", "Age")   Age
    <br>


    <asp:Calendar ID="Calendar1" runat="server"> </asp:Calendar>

</div>
<br>
<br>
<br>
<div class="item">

    Data To Be Included:

    <br><br>


    @Html.CheckBox("ToBeIncluded", "All")   All
    <br>
    @Html.CheckBox("ToBeIncluded", "Alumni")  Alumni
    <br>
    @Html.CheckBox("ToBeIncluded", "Student")   Student
    <br>
    @Html.CheckBox("ToBeIncluded", "Donor")   Donor
    <br>
    @Html.CheckBox("ToBeIncluded", "Volunteer")  Volunteer
    <br>

</div>

<br>
<br>

<button type="submit">Generate Report</button>
