@model IEnumerable<ArchivedSurveyQuestion>
@{
    ViewData["Title"] = "Engagement Survey - Archived Questions";
}

<h2>@ViewData["Title"]</h2>
<br />
<table class="table table-responsive" style="width:100%">
    <tr>
        <th><label asp-for="@Model.FirstOrDefault().Id"></label></th>
        <th><label asp-for="@Model.FirstOrDefault().QuestionNumber"></label></th>
        <th><label asp-for="@Model.FirstOrDefault().QuestionType"></label></th>
        <th><label asp-for="@Model.FirstOrDefault().Text"></label></th>
        <th><label asp-for="@Model.FirstOrDefault().ArchivedAtUtc"></label></th>
    </tr>

    @foreach (var question in Model)
    {
        <tr>
            <td>@question.Id</td>
            <td>@question.QuestionNumber</td>
            <td>@question.QuestionType.ToString()</td>
            <td width="50%">@question.Text</td>
            <td>@question.ArchivedAtUtc.LocalDateTime</td>
        </tr>
    }
</table>