@model IEnumerable<SurveyQuestion>
@{
    ViewData["Title"] = "Engagement Survey - Active Questions";
}
    <body>
        <h2>@ViewData["Title"]</h2>

        <h2><strong>Question Flow</strong></h2>
        <img width="95%" src="~/images/questionFlow.png" />

        <h2><strong>Question Bank</strong></h2>
        <table class="table table-responsive" style="width:100%">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            @foreach (var q in Model)
            {
                <tr>
                    <td>@q.QuestionId</td>
                    <td width="50%">@q.Description</td>
                    <td>@q.ActiveStatus</td>
                    <td>
                        <button class="btn btn-primary" id="edit-question-@q.QuestionId" type="button" onclick="location.href='@Url.Action("Edit", "Questions", new { id = @q.QuestionId })'">Edit</button>
                        <button class="btn btn-primary" id="archive-question-@q.QuestionId" type="button" onclick="location.href='@Url.Action("Archived", "Questions", new { id = @q.QuestionId })'">Archive</button>
                    </td>
                </tr>
            }
        </table>
    </body>
