@model IQueryable<SurveyQuestion>
@{
    ViewData["Title"] = "TL";
}

<style>
    a {
        text-decoration: none;
    }

    ul.tree, .tree li {
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .tree ul {
        display: none;
    }

    .tree > li {
        display: block;
        background: #eee;
        margin-bottom: 2px;
    }

    .tree span {
        display: block;
        padding: 10px 12px;
    }

    .icon {
        display: inline-block;
    }

    .tree .hasChildren > .expanded {
        background: #999;
    }

        .tree .hasChildren > .expanded a {
            color: #fff;
        }

    .icon:before {
        content: "+";
        display: inline-block;
        min-width: 20px;
        text-align: center;
    }

    .tree .icon.expanded:before {
        content: "-";
    }

    .show-effect {
        display: block !important;
    }
</style>


<h2>TL</h2>

<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <ul class="tree">
        <li class="tree__item">
            <span style="font-size:x-large">
                <a>TEACHING</a>
            </span>
        </li>
        @{
            foreach (var question in Model)
            {
                if (question.Category.Equals(QuestionCategory.Teach))
                {
                    <li class="tree__item hasChildren">
                        <span>
                            <div class="icon"></div>
                            <a href="#">@question.Text</a>
                        </span>
                        <ul>
                            @foreach (var c in question.Choices)
                            {
                                <li>
                                    <span><a href="">@c.Text</a></span>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }



    <li class="tree__item">
        <span style="font-size:x-large">
            <a>PRACTICE</a>
        </span>
    </li>
        @{
            foreach (var question in Model)
            {
                if (question.Category.Equals(QuestionCategory.Practice))
                {
                    <li class="tree__item hasChildren">
                        <span>
                            <div class="icon"></div>
                            <a href="#">@question.Text</a>
                        </span>
                        <ul>
                            @foreach (var c in question.Choices)
                            {
                                <li>
                                    <span><a href="">@c.Text</a></span>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }



    <li class="tree__item">
        <span style="font-size:x-large">
            <a>OTHER</a>
        </span>
    </li>
        @{
            foreach (var question in Model)
            {
                if (question.Category.Equals(QuestionCategory.Other))
                {
                    <li class="tree__item hasChildren">
                        <span>
                            <div class="icon"></div>
                            <a href="#">@question.Text</a>
                        </span>
                        <ul>
                            @foreach (var c in question.Choices)
                            {
                                <li>
                                    <span><a href="">@c.Text</a></span>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }



    <li class="tree__item">
        <span style="font-size:x-large">
            <a>NONE</a>
        </span>
    </li>
        @{
            foreach (var question in Model)
            {
                if (question.Category.Equals(QuestionCategory.None))
                {
                    <li class="tree__item hasChildren">
                        <span>
                            <div class="icon"></div>
                            <a href="#">@question.Text</a>
                        </span>
                        <ul>
                            @foreach (var c in question.Choices)
                            {
                                <li>
                                    <span><a href="">@c.Text</a></span>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }





    <li class="tree__item">
        <span style="font-size:x-large">
            <a>DEFUALT</a>
        </span>
    </li>
        @{
            foreach (var question in Model)
            {
                if (question.Category.Equals(QuestionCategory.Default))
                {
                    <li class="tree__item hasChildren">
                        <span>
                            <div class="icon"></div>
                            <a href="#">@question.Text</a>
                        </span>
                        <ul>
                            @foreach (var c in question.Choices)
                            {
                                <li>
                                    <span><a href="">@c.Text</a></span>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }

    </ul>


    <script>
        $('.tree .icon').click(function () {
            $(this).parent().toggleClass('expanded').
                closest('li').find('ul:first').
                toggleClass('show-effect');
        });
    </script>

</body>