@model IQueryable<SurveyQuestion>
@{
    Layout = "_ExternalLayout";
}


<head>
    <link rel="stylesheet" href="~/css/engagement-form.css" asp-append-version="true" />
</head>

<style>
    .ImageHeader img {
        border-radius: 8px;
        width: 100%;
    }
</style>

<body>
    <div class="ImageHeader">
        <img src="~/images/Practice.jpg" />
    </div>
    <div id="form">
        <form asp-controller="Engagement" asp-action="Submit" method="post">
            <div class="HeaderContainer">
                Thank you for visiting Yoga 4 Change! Are you new or interested in our cause? Follow
                the below form to completion to find out where you can make the biggest difference.
                <br />
                <br />
                <br />
                First, we would like to get a better understanding of who you are so we make sure this survey's placement is effective!
            </div>


            @{
                foreach (var q in Model)
                {
                    <div class="QuestionContainer">
                        <label style="width:100%;" for="question" name="@q.Id">
                            <label class="QuestionTitle">@q.Text</label><br />
                            <input type="hidden" name="weight" value="@q.Weight" />


                            @{
                                if (q.TypeId == QuestionType.Text)
                                {
                                    <input name="@q.Id" type="@q.TypeId" required />
                                }
                                else if (q.TypeId == QuestionType.Checkbox)
                                {
                                    foreach (var c in q.Choices.OrderBy(x => x.OrderInQuestion))
                                    {
                                        if (q.Id == c.QuestionId)
                                        {
                                            <label for="@c.QuestionId" name="@c.Id">
                                                <label class="ChoiceText">
                                                    <input name="@c.QuestionId" type="@q.TypeId" value="@c.Id" />
                                                    <input type="hidden" name="@c.QuestionId" value="hiddenCheckbox"/>
                                                    @c.Text
                                                </label>
                                            </label><br />
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var c in q.Choices.OrderBy(x => x.OrderInQuestion))
                                    {
                                        if (q.Id == c.QuestionId)
                                        {
                                            <label for="@c.QuestionId" name="@c.Id">
                                                <label class="ChoiceText">
                                                    <input name="@c.QuestionId" type="@q.TypeId" value="@c.Id" required />
                                                    @c.Text
                                                </label>
                                            </label><br />
                                        }
                                    }
                                }
                            }
                        </label><br />
                    </div>
                }
            }

            <input type="hidden" name="page" value="@SurveyBranch.Practice" />
            <button type="submit" value="Practice" class="btn btn-primary" style="width:100%; padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;">
                Submit
            </button>
        </form>
    </div>
</body>
