@model IQueryable<SurveyQuestion>
@{
    ViewData["Title"] = "Test";
}

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div #form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 75%;
        margin: auto;
    }

    div #formText {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    h1 {
        text-align: center;
    }
</style>

<div id="form">
    <form asp-controller="Engagement" asp-action="NextStep" method="post">
        <div id="formText">
            Thank you for visiting Yoga 4 Change! Are you new or interested in our cause? Follow
            the below form to completion to find out where you can make the biggest difference.
        </div>
        <br />

        <div id="formText">
            First, we would like to get a better understanding of who you are so we make sure this survey's placement is effective!
            </br></br></br>
        </div>


        @{
            foreach (var q in Model)
            {
                if (q.Category.Equals(QuestionCategory.Teach) || q.Category.Equals(QuestionCategory.Default))
                {
                    <label for=@q.Id>
                        <label>@q.Text</label><br>
                        <input type="hidden" name="weight" value="@q.Weight" />


                        @{
                            if (q.Choices.Count == 0)
                            {
                                if (q.TypeId == QuestionType.Text)
                                {
                                    <input type="@q.TypeId" required />
                                }
                            }
                            else
                            {
                                foreach (var c in q.Choices)
                                {
                                    if (q.Id == c.QuestionId)
                                    {
                                        <label for=@c.Id>
                                            <input name="@c.QuestionId" type="@q.TypeId" required />
                                            <label>@c.Text</label>
                                        </label><br>
                                    }
                                }
                            }
                        }
                    </label><br>
                }
            }
        }


        <input type="hidden" name="page" value="teach" />
        <button type="submit" value="Teach" class="btn btn-primary" style="width:100%; padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;">
            Submit
        </button>
    </form>
</div>