@model IEnumerable<SurveyAnswer>
@{
    ViewData["Title"] = "Reports";
}
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"rel="stylesheet"/> 
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
<body>
    <h2>@ViewData["Title"]</h2>
    ﻿<table>
        <tr>
            <th>
                What information would you like to include in your report?
                <br>
                <br>
                Filters:
                <br>
                <br>
                @Html.CheckBox("FilterAll") All
                <br>
                @Html.CheckBox("Income") Income
                <br>
                @Html.CheckBox("Race") Race
                <br>
                @Html.CheckBox("Sex") Sex
                <br>
                @Html.CheckBox("Age") Age
                <br>
                <br>
            </th>
            <th>
                <br><br>
                Type to be included:
                <br>
                <br>
                @Html.CheckBox("GroupAll") All
                <br>
                @Html.CheckBox("Teacher") Teacher
                <br>
                @Html.CheckBox("Alumni") Alumni
                <br>
                @Html.CheckBox("Donor") Donor
                <br>
                @Html.CheckBox("Volunteer") Volunteer
                <br>
            </th>
        </tr>
    </table>

    <br>
    <br>
    <input type="button" name="button" class="btn btn-primary" value="Generate Report" />
    <br>
    <br>

    <div>
        <table id="reportTable" class="table table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Question ID</th>
                    <th>Answer ID</th>
                    <th>User ID</th>
                    <th>User Type</th>
                    <th>Submitted At</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var answer in Model)
                {
                    <tr>
                        <td>@answer.QuestionId</td>
                        <td>@answer.Id</td>
                        <td>@answer.UserId</td>
                        <td>@answer.UserType</td>
                        <td>@answer.SubmittedAtUtc.LocalDateTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
<script>
$(document).ready(function() {
    $('#reportTable').DataTable(
    "dom": '<"top"i>rt<"bottom"flpB><"clear">');
} );

 </script>

<div class="top">
    INFO
    </div>
TABLE
<div class="bottom">
    FILTER  LENGTH  PAGINATION  BUTTONS
</div>
<div class="clear"></div>