@model IEnumerable<SurveyAnswer>
@{
    ViewData["Title"] = "Reports";
}
﻿<table>
    <tr>
        <th>
            What information would you like to include in your report?
            <br>
            <br>
            Filters:
            <br>
            <br>
            @Html.CheckBox("Income") Income
            <br>
            @Html.CheckBox("Race") Race
            <br>
            @Html.CheckBox("Sex") Sex
            <br>
            @Html.CheckBox("Age") Age
            <br>
            <br>
        </th>
        <th>
            <br><br>
            Type to be included:
            <br>
            <br>
            @Html.CheckBox("All") All
            <br>
            @Html.CheckBox("Teacher") Teacher
            <br>
            @Html.CheckBox("Alumni") Alumni
            <br>
            @Html.CheckBox("Donor") Donor
            <br>
            @Html.CheckBox("Volunteer") Volunteer
            <br>
        </th>
    </tr>
</table>

<br>
<br>
<input type="button" name="button" class="button1" value="Generate Report" />
<br>
<br>

<body>
    <h2>@ViewData["Title"]</h2>
    <div>
        <table class="table table-responsive" style="width:100%">
            <tr>
                <th>Question ID</th>
                <th>Answer ID</th>
                <th>User ID</th>
                <th>User Type</th>
                <th>Submitted At</th>
            </tr>

            @foreach (var answer in Model)
            {
                <tr>
                    <td>@answer.QuestionId</td>
                    <td>@answer.Id</td>
                    <td>@answer.UserId</td>
                    <td>@answer.UserType</td>
                    <td>@answer.SubmittedAtUtc.LocalDateTime</td>
                </tr>
            }
        </table>
    </div>
</body>
