@model IEnumerable<SurveyAnswer>
@{
    ViewData["Title"] = "Reports";
}

<body> 
    <h2>@ViewData["Title"]</h2>
    <div>
        <table class="table table-responsive" style="width:100%">
            <tr>
                <th>Question ID</th>
                <th>Answer ID</th>
                <th>User ID</th>
                <th>User Type</th>
                <th>Submitted At</th>
            </tr>

            @foreach (var answer in Model)
            {
                <tr>
                    <td>@answer.QuestionId</td>
                    <td>@answer.Id</td>
                    <td>@answer.UserId</td>
                    <td>@answer.UserType</td>
                    <td>@answer.SubmittedAtUtc.LocalDateTime</td>
                </tr>
            }
        </table>
    </div>
</body>
