@model IQueryable<SurveyAnswer>
@{
    ViewData["Title"] = "Reports - Answers From Survey";
}


<body>
    <h1 style="text-align: center;"><strong>@ViewData["Title"]</strong></h1>

    <table id="example" class="table table-striped table-bordered dt-responsive" style="table-layout: auto;width: 100%;" cellspacing="0">
        <thead>
            <tr>
                <th><label asp-for="@Model.FirstOrDefault().UserId"></label></th>
                <th><label asp-for="@Model.FirstOrDefault().Question.Text"></label></th>
                <th><label asp-for="@Model.FirstOrDefault().Answer"></label></th>
                <th><label asp-for="@Model.FirstOrDefault().UserType"></label></th>
                <th><label asp-for="@Model.FirstOrDefault().SubmittedAtUtc"></label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var answer in Model)
            {
                <tr>
                    <td>@answer.UserId</td>
                    <td>@answer.Question.Text</td>
                    <td>@answer.Answer</td>
                    <td>@answer.UserType</td>
                    <td>@answer.SubmittedAtUtc</td>
                </tr>
            }
        </tbody>
    </table>
</body>

<script>
<<<<<<< Updated upstream
    $(document).ready( function () {
    var currentDate = new Date()
    var day = currentDate.getDate()
    var month = currentDate.getMonth() + 1
    var year = currentDate.getFullYear()
=======
    var currentdate = new Date();
    var day = currentdate.getDate();
    var month = currentdate.getMonth() + 1;
    var year = currentdate.getFullYear();
    var d = year + "-" + month + "-" + day;
>>>>>>> Stashed changes

    var d = day + "-" + month + "-" + year;
    $(document).ready(function () {
        $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "pageLength": 50,
            "dom": '<"top"Bf>rt<"bottom"pi>',
            "buttons": [
                {
<<<<<<< Updated upstream
                    sExtends: 'excelHtml5',
                    sTitle: d+' '              //Devany you left off here
=======
                    extend: 'excelHtml5',
                    title: d              
>>>>>>> Stashed changes
                },
                {
                    extend: 'print',
                    title: 'Print of the Survey Reports as of ' + d
                }
            ],
            "buttons": ['excelHtml5', 'print'],
            "columns": [
                { "visible": false },
                null,
                null,
                null,
                null
            ]
        });
    });

    //Needed to style the datatable buttons
    $(document).ready(function () {
        $('button').addClass("btn btn-primary");
    });
</script>